In [14]:
# The code was removed by Watson Studio for sharing.

  Postal Code       Borough                                      Neighbourhood
0         M9Z  Not assigned                                       Not assigned
1         M9Y  Not assigned                                       Not assigned
2         M9X  Not assigned                                       Not assigned
3         M9W     Etobicoke                Northwest, West Humber - Clairville
4         M9V     Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...

In [15]:
#drop any rows where Borough is Not assigned
NA_borough = df_postalcodes[df_postalcodes['Borough'] == 'Not assigned'].index
df_postalcodes.drop(NA_borough, inplace=True)
df_postalcodes.head()

  Postal Code    Borough                                      Neighbourhood
3         M9W  Etobicoke                Northwest, West Humber - Clairville
4         M9V  Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
7         M9R  Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
8         M9P  Etobicoke                                          Westmount
9         M9N       York                                             Weston

In [16]:
#split each neighborhood onto a separate line and reset the index
df_postalcodes = (df_postalcodes.set_index(['Postal Code', 'Borough'])
   .stack()
   .str.split(',', expand=True)
   .stack()
   .unstack(-2)
   .reset_index(-1, drop=True)
   .reset_index()
)
df_postalcodes.head(15)

   Postal Code      Borough          Neighbourhood
0          M1B  Scarborough                Malvern
1          M1B  Scarborough                  Rouge
2          M1C  Scarborough             Rouge Hill
3          M1C  Scarborough             Port Union
4          M1C  Scarborough         Highland Creek
5          M1E  Scarborough              Guildwood
6          M1E  Scarborough            Morningside
7          M1E  Scarborough              West Hill
8          M1G  Scarborough                 Woburn
9          M1H  Scarborough              Cedarbrae
10         M1J  Scarborough    Scarborough Village
11         M1K  Scarborough           Kennedy Park
12         M1K  Scarborough                Ionview
13         M1K  Scarborough   East Birchmount Park
14         M1L  Scarborough            Golden Mile

In [17]:
#show the total number of rows and columns in the final dataframe
df_postalcodes.shape

(217, 3)