In [1]:
# The code was removed by Watson Studio for sharing.

  Postal Code       Borough                                      Neighbourhood
0         M9Z  Not assigned                                       Not assigned
1         M9Y  Not assigned                                       Not assigned
2         M9X  Not assigned                                       Not assigned
3         M9W     Etobicoke                Northwest, West Humber - Clairville
4         M9V     Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...

In [2]:
#drop any rows where Borough is Not assigned
NA_borough = df_postalcodes[df_postalcodes['Borough'] == 'Not assigned'].index
df_postalcodes.drop(NA_borough, inplace=True)
df_postalcodes.head()

  Postal Code    Borough                                      Neighbourhood
3         M9W  Etobicoke                Northwest, West Humber - Clairville
4         M9V  Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
7         M9R  Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
8         M9P  Etobicoke                                          Westmount
9         M9N       York                                             Weston

In [4]:
#split each neighborhood onto a separate line and reset the index
df_postalcodes = (df_postalcodes.set_index(['Postal Code', 'Borough'])
   .stack()
   .str.split(',', expand=True)
   .stack()
   .unstack(-2)
   .reset_index(-1, drop=True)
   .reset_index()
)
df_postalcodes.head()

  Postal Code      Borough    Neighbourhood
0         M1B  Scarborough          Malvern
1         M1B  Scarborough            Rouge
2         M1C  Scarborough       Rouge Hill
3         M1C  Scarborough       Port Union
4         M1C  Scarborough   Highland Creek

In [5]:
#show the total number of rows and columns in the final dataframe
df_postalcodes.shape

(217, 3)

In [6]:
#auto-generated code to read new csv file
body = client_898a3789eb53423e8b3dd654559a9bb5.get_object(Bucket='segmentingandclusteringneighborho-donotdelete-pr-vbpylohrf1tsbj',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

#show first five rows of data
df_latlong = pd.read_csv(body)
df_latlong.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [7]:
#merge the 2 dataframes based on 'Postal Code' column
merged_Frame = pd.merge(df_postalcodes, df_latlong, on = 'Postal Code')
merged_Frame.head()

  Postal Code      Borough    Neighbourhood   Latitude  Longitude
0         M1B  Scarborough          Malvern  43.806686 -79.194353
1         M1B  Scarborough            Rouge  43.806686 -79.194353
2         M1C  Scarborough       Rouge Hill  43.784535 -79.160497
3         M1C  Scarborough       Port Union  43.784535 -79.160497
4         M1C  Scarborough   Highland Creek  43.784535 -79.160497